<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760131071256-g7lrtjh94bdjk6f5qd31mch9295m345d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760131071256-g7lrtjh94bdjk6f5qd31mch9295m345d</string>
	<key>API_KEY</key>
	<string>AIzaSyAkZIqIx1S4LbiQYLlCjqLIK1kXbmU0-G8</string>
	<key>GCM_SENDER_ID</key>
	<string>760131071256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CodeHack.shorts</string>
	<key>PROJECT_ID</key>
	<string>shorts-a5c63</string>
	<key>STORAGE_BUCKET</key>
	<string>shorts-a5c63.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760131071256:ios:ff01999b2ea346aa6d426d</string>
</dict>
</plist>